{% extends "layouts/layout.folders_lists.html" %}
{% block tool_buttons %}
<a href="/templates/new" class="btn btn-xs btn-primary">New Template</a>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<table width="100%" cellspacing="0" cellpadding="5" id="templates_table" class="tool_list_table">
			<thead>
				<tr>
					<th align="center" style="width:25px;"><input type="checkbox" id="templates_check_all" name="templates_check_all" onClick="ToggleAll('templates_check');" /></th>
					<th>Thumbnail</th>
					<th style="width:50px;">ID</th>
					<th style="width:350px">Name</th>
					<th>Category</th>
					<th>Created</th>
					<th>Last Updated</th>
				</tr>
			</thead>
			<tbody>
				{% for template in templates %}
				<tr>
					<td align="center" style="width:25px;"><input type="checkbox" class="templates_check" name="check_{{template.id}}" id="check_{{template.id}}" value="{{template.id}}" /></td>
					<td><img src="{{template.thumbnail if template.thumbnail != "" else '/static/img/no-thumb.png'}}" width="200" alt="{{template.name}}" title="{{template.title}}" /></td>
					<td style="width:50px;">{{template.id}}</td>
					<td style="width:350px"><a href="/templates/{{template.id}}/detail">{{template.name}}</a></td>
					<td>{{template.category.name}}</td>
					<td>{{template.created}}</td>
					<td>{{template.updated}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row" id="table_foot_row">
	<div class="col-md-6 table_foot">
		Show&nbsp;
		<select name="rows" id="show_rows" class="show_rows" onChange="ChangeShowRows('templates');">
			<option value="10" {{"selected" if session['r'] == 10}}>10</option>
			<option value="25" {{"selected" if session['r'] == 25}}>25</option>
			<option value="50" {{"selected" if session['r'] == 50}}>50</option>
			<option value="100" {{"selected" if session['r'] == 100}}>100</option>
			<option value="0" {{"selected" if session['r'] == 0}}>All</option>
		</select>
		&nbsp;Rows
	</div>
	<div class="col-md-6 pull-right table_foot" style="text-align:right;">
		{% if pages > 1 %}
			{% if current_page > 1 %}
			<a href="/templates/{{current_page - 1}}" class="page_link">< Prev</a>&nbsp;
			{% endif %}
			{% for idx in range(1, (pages + 1)) %}
				{% if idx == current_page %}
				<strong>{{idx}}</strong>&nbsp;
				{% else %}
				<a href="/templates/{{idx}}">{{idx}}</a>&nbsp;
				{% endif %}
			{% endfor %}
			{% if current_page < pages %}
			<a href="/templates/{{current_page + 1}}" class="page_link">Next ></a>&nbsp;
			{% endif %}
		{% else %}
			<strong>1</strong>
		{% endif %}
	</div>
</div>
</div>
{% endblock %}