{% extends "layouts/layout.folders_lists.html" %}
{% block tool_buttons %}
<a href="/segments/new" class="btn btn-xs btn-primary">New Segment</a>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<table width="100%" cellspacing="0" cellpadding="5" id="segments_table" class="tool_list_table">
			<thead>
				<tr>
					<th align="center" style="width:25px;"><input type="checkbox" id="segments_check_all" name="segments_check_all" onClick="ToggleAll('segments_check');" /></th>
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Subscriber Count</th>
					<th>Created</th>
					<th>Last Updated</th>
				</tr>
			</thead>
			<tbody>
				{% for segment in segments %}
				<tr>
					<td align="center" style="width:25px;"><input type="checkbox" class="segments_check" name="check_{{segment.id}}" id="check_{{segment.id}}" value="{{segment.id}}" /></td>
					<td>{{segment.id}}</td>
					<td><a href="/segments/{{segment.id}}/detail">{{segment.name}}</a></td>
					<td>{{segment.type}}</td>
					<td>{{segment.subscribers.count()}}</td>
					<td>{{segment.created}}</td>
					<td>{{segment.updated}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row" id="table_foot_row">
	<div class="col-md-6 table_foot">
		Show&nbsp;
		<select name="rows" id="show_rows" class="show_rows" onChange="ChangeShowRows('segments');">
			<option value="10" {{"selected" if session['r'] == 10}}>10</option>
			<option value="25" {{"selected" if session['r'] == 25}}>25</option>
			<option value="50" {{"selected" if session['r'] == 50}}>50</option>
			<option value="100" {{"selected" if session['r'] == 100}}>100</option>
			<option value="0" {{"selected" if session['r'] == 0}}>All</option>
		</select>
		&nbsp;Rows
	</div>
	<div class="col-md-6 pull-right table_foot" style="text-align:right;">
		{% if pages > 1 %}
			{% if current_page > 1 %}
			<a href="/segments/{{current_page - 1}}" class="page_link">< Prev</a>&nbsp;
			{% endif %}
			{% for idx in range(1, (pages + 1)) %}
				{% if idx == current_page %}
				<strong>{{idx}}</strong>&nbsp;
				{% else %}
				<a href="/segments/{{idx}}">{{idx}}</a>&nbsp;
				{% endif %}
			{% endfor %}
			{% if current_page < pages %}
			<a href="/segments/{{current_page + 1}}" class="page_link">Next ></a>&nbsp;
			{% endif %}
		{% else %}
			<strong>1</strong>
		{% endif %}
	</div>
</div>
</div>
{% endblock %}