{% extends "layouts/layout.html" %}
{% block head %}
<script src="/static/js/tools.{{g.current_tool.alias}}.js" type="text/javascript"></script>
<link rel="Stylesheet" href="/static/css/tools.{{g.current_tool.alias}}.css" type="text/javascript" />
{% endblock %}
{% block body %}
{% if g.current_folder != None %}
<span id="current_folder_span">{{g.current_folder.id}}</span>
{% endif %}
<div class="row-fluid">
	<div class="col-md-3" id="folder_list_container">
		<div class="row">
			<div class="col-md-12" id="folders">
				<ul>
					{% for folder in g.folders %}
					{{ folder.drawFolderTree(g.current_folder) }}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9" id="list_container">
		<div class="row" id="breadcrumb_row">
			<div class="col-xs-1" id="show_hide_folders_button">
				<a href="javascript:;" class="btn btn-xs btn-default"  onClick="toggleFolderView('list');">
					<img src="/static/img/hide.png" alt="<" width="16" title="Hide Folders" />
				</a>
			</div>
			<div class="col-md-11">
				<!-- Breadcrumbs -->
				<ol class="breadcrumb">
					{% if g.current_folder != None %}
					{{ g.current_folder.drawBreadCrumb("") }}
					{% endif %}
					{% block breadcrumb_add %}{% endblock %}
				</ol>
			</div>
		</div>
		<div class="row" id="list_button_row">
			<div class="col-md-8">
				{% block tool_buttons %}{% endblock %}
				<a href="javascript:;" onClick="MoveObjects('{{g.current_tool.alias}}');" class="btn btn-xs btn-default" disabled="disabled" id="move_objects_button">Move</a>
				<a href="javascript:;" id="import_objects_button" onClick="StartImport();" class="btn btn-xs btn-default">Import</a>
				<a href="javascript:;" id="export_objects_button" onClick="StartExport();" class="btn btn-xs btn-default">Export</a>
				<a href="javascript:;" id="search_objects_button" onClick="StartSearch();" class="btn btn-xs btn-default">Search</a>
			</div>
			<div class="col-md-4 pull-right" style="text-align:right;">
				<a href="javascript:;" onClick="DeleteObjects('{{g.current_tool.alias}}');" class="btn btn-xs btn-danger" id="delete_objects_button" disabled="disabled">Delete Selected</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="list_row">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		ButtonCheck('{{g.current_tool.alias}}');
	});
</script>
<!-- New Folder Modal -->
<div class="modal fade" id="new_folder_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div id="new_folder_modal_loading" style="text-align:center;display:none;">
			<img src="/static/img/ajax-loader.gif" alt="Loading" />
			<div id="new_folder_modal_loading_action"></div>
		</div>
    	<div id="new_folder_modal_content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">New Folder</h4>
			</div>
			<div class="modal-body">
				<form class="form form-horizontal" id="new_folder_form" action="" method="POST" onSubmit="NewFolderSubmit('{{g.current_tool.alias}}');return false;">
					<input type="hidden" name="parent_folder_id" id="parent_folder_id" value="" />
					<input type="hidden" name="submit_type" id="submit_type" value="" />
					<div class="form-group">
						<label for="new_folder_name" class="control-label col-lg-2">Folder Name</label>
						<div class="col-lg-10">
							<input type="text" name="new_folder_name" id="new_folder_name" class="form-control" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" onClick="NewFolderSubmit('{{g.current_tool.alias}}');" class="btn btn-primary">Submit</nutton>
				<button type="button" class="btn btn-default" onClick="ResetModal('new_folder_modal');" data-dismiss="modal">Cancel</button>
			</div>
   		</div>
  	</div>
  </div>
</div>
<!-- Move Objects Modal -->
<div class="modal fade" id="move_objects_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div id="move_objects_modal_loading" style="text-align:center;display:none;">
			<img src="/static/img/ajax-loader.gif" alt="Loading" />
			<div id="move_objects_modal_loading_action"></div>
		</div>
    	<div id="move_objects_modal_content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Move {{g.current_tool.alias}}</h4>
			</div>
			<div class="modal-body">
				<form class="form form-horizontal" id="move_objects_form" action="" method="POST" onSubmit="MoveObjectsSubmit('{{g.current_tool.alias}}');return false;">
					<input type="hidden" name="move_to_folder_id" id="move_to_folder_id" value="" />
					<input type="hidden" name="move_to_folder_name" id="move_to_folder_name" value="" />
					<div class="form-group">
						<label for="move_to_folder" class="control-label col-lg-2">Folder</label>
						<div class="col-lg-10" id="move_to_folder">
							<ul>
								{% for folder in g.folders %}
									{% if folder.folder_type == g.current_tool.alias %}
										{{ folder.drawFolderTree(g.current_folder, cls='dynamic-folder') }}
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" onClick="MoveObjectsSubmit('{{g.current_tool.alias}}');" class="btn btn-primary">Submit</nutton>
				<button type="button" class="btn btn-default" onClick="ResetModal('move_objects_modal');" data-dismiss="modal">Cancel</button>
			</div>
   		</div>
  	</div>
  </div>
</div>
{% include "blocks/ies_modals.html" %}
{% endblock %}