{% extends "layouts/layout.folders_forms.html" %}
{% block tool_buttons %}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<form name="send_form" id="send_form" class="form form-horizontal" action="" method="POST">
			<input type="hidden" name="test" id="test" value="{{'1' if test else '0' }}" />
			<input type="hidden" name="referrer" id="referrer" value="{{referrer}}" />
			<div class="form-group">
				<label for="campaign_name" class="control-label col-lg-2">Campaign: </label>
				<div class="col-lg-10">
					{{name}}
				</div>
			</div>
			{% if test %}
			<div class="form-group">
				<label for="test_emails" class="control-label col-lg-2">Test Emails<br />(one per line)</label>
				<div class="col-lg-10">
					<textarea name="test_emails" class="form-control" id="test_emails" style="height:75px;"></textarea>
				</div>
			</div>
			{% else %}
			<p>Confirm Sending this campaign immediately?</p>
			{% endif %}
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Send {{'Test ' if test }}Email" />
				<a href="javascript:history.go(-1);" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}