<div class="modal fade" id="loading_modal" tabindex="-1" role="dialog" aria-labelledby="loading_modal_Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div id="loading_modal_content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="loading_modal_Label">Loading...</h4>
			</div>
			<div class="modal-body">
				<div id="loading_modal_loading" style="text-align:center;">
					<img src="/static/img/ajax-loader.gif" alt="Loading" />
					<div id="loading_modal_loading_action"></div>
				</div>
			</div>
			<div class="modal-footer">
				&nbsp;
			</div>
   		</div>
  	</div>
  </div>
</div>