{% extends "layouts/layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal" onSubmit="return CheckConfirmPassword();">
    <h2>Change Password </h2>
    <div class="control-group">
        <div class="controls">
            <label for="password">New Password: </label>
            <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter New Password" required><br />
            <label for="conf_password">Confirm New Password: </label>
          <input type="password" id="conf_password" name="conf_password" class="input-xlarge"
            placeholder="Confirm New Password" required><br />
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
  </form>
{% endblock %}
